{% extends 'layout' %}

{% block scripts %}
<script src="/scripts/cvRate.js"></script>
<script src="/scripts/delete.js"></script>
{% endblock %}

{% block content %}

<h2>{{ cv.name }}</h2>
<pre>
<p>{{ cv.category.name }}</p>
</pre>
<h3>Életkor</h3>
<pre>
{{ cv.age }}
</pre>
<h3>Legmagasabb iskolai végzettség</h3>
<pre>
{{ cv.education }}
</pre>
<h3>Bemutatkozás</h3>
<pre>
{{ cv.about }}
</pre>

{% for rating in ratings %}
    {% if cv.id  == rating.cv_id  %}
<h5>{{ rating.rate }}/10 pont</h5>
<div class="progress">
  <div class="progress-bar progress-bar-info" style="width: {{rating.rate}}0%"></div>
</div>

    {% endif %}
{% endfor %}

{% if currentUser.id == cv.user_id %}
{{ csrfField | safe }}
<a class="btn btn-primary" href="/cvs/{{cv.id}}/edit" role="button">Szerkeszt</a>
<a id="btnDelete" class="btn btn-danger" href="/cvs/{{cv.id}}/delete" role="button">Töröl</a>
<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endif %}
{% if currentUser.id != null %}
    {% if currentUser.id != cv.user_id %}
<a id="btnRate" class="btn btn-info" href="/cvs/{{cv.id}}/rate" role="button">Értékel</a>
    {% endif %}
{% endif %}

{% endblock %}